In [4]:
# [] PRINT 'Hello!' and remember to save notebook!
print("Hello!")

Hello!

In [16]:
print('watch for the cat')

watch for the cat

In [17]:
#### [ ] convert \*this\* cell from markdown to a code cell, then run it  
print('Run as a code cell')

Run as a code cell

In [18]:
# notebook Practice_MOD01 Name Mark Date 10 Aug

In [21]:
# [ ] print your name
print("Mark")
# [ ] print "is using Python"
print("is using Python")

Mark
is using Python

Output above should be:  
`Your Name  
is using Python!`

#### use variables in print()
- [ ] create a variable **your_name** and assign it a string containing your name
- [ ] print **your_name**

In [22]:
# [ ] create a variable your_name and assign it a sting containing your name
your_name = "Mark"
#[ ] print your_name
print(your_name)

Mark

#### create more string variables
- **[ ]** create variables as directed below
- **[ ]** print the variables

In [23]:
# [ ] create variables and assign values for: favorite_song, shoe_size, lucky_number
favourite_song = "Zum Zum"
shoe_size = 12
Lucky_number = 99

# [ ] print the value of each variable favorite_song, shoe_size, and lucky_number
print(favourite_song,shoe_size,Lucky_number)

Zum Zum 12 99

#### use string addition
- **[ ]**  print the above string variables (favorite_song, shoe_size, lucky_number) combined with a description by using **string addition**
>for example favorite_song displayed as:  
`favorite song is happy birthday`

In [26]:
# [ ] print favorite_song with description
print("Favourite Song is:",favourite_song,"Shoe Size is:",shoe_size,"Lucky Number is:",Lucky_number)

# [ ] print shoe_size with description


# [ ] print lucky_number with description

Favourite Song is: Zum Zum Shoe Size is: 12 Lucky Number is: 99

##### more string addition
- **[ ]** make a single string (sentence) in a variable called favorite_lucky_shoe using **string addition** with favorite_song, shoe_size, lucky_number variables and other strings as needed 
- **[ ]** print the value of the favorite_lucky_shoe variable string
> sample output:  
`For singing happy birthday 8.5 times, you will be fined $25`

In [28]:
# assign favorite_lucky_shoe using
favourite_lucky_shoe = favourite_song + str(shoe_size) + str(Lucky_number)

### print() art

#### use `print()` and the asterisk **\*** to create the following shapes
- [ ] diagonal line  
- [ ] rectangle  
- [ ] smiley face

In [35]:
# [ ] print a diagonal using "*"
print("\   ")
print(" \  ")
print("  \ ")

# [ ] rectangle using "*"
print(" _________ ")
print("|         |")
print("|         |")
print("|_________|")

# [ ] smiley using "*"


print("     *   *    ")    
print("       *      ")
print("  *        * ")
print("    *     *  ")
print("      * *    ")

\
 \
  \
 _________
|         |
|         |
|_________|
     *   *
       *
  *        *
    *     *
      * *

#### Using `type()`
-**[ ]** calulate the *type* using `type()`

In [4]:
# [ ] display the type of 'your name' (use single quotes)
type('matt')
type("matt")

str

In [5]:
# [ ] display the type of "save your notebook!" (use double quotes)
type("save your notebook!")

str

In [7]:
# [ ] display the type of "25" (use quotes)
type("25")

int

In [10]:
# [ ] display the type of "save your notebook " + 'your name'
type("save your notebook " + 'matt')

str

In [11]:
# [ ] display the type of 25 (no quotes)

type(25)

int

In [12]:
# [ ] display the type of 25 + 10 
type(25+10)

int

In [13]:
# [ ] display the type of 1.55
type(1.55)

float

In [17]:
# [ ] display the type of 1.55 + 25
type(1.55+25)

float

#### Find the type of variables
- **[ ]** run the cell below to make the variables available to be used in other code
- **[ ]** display the data type as directed in the cells that follow

In [19]:
# assignments ***RUN THIS CELL*** before starting the section

student_name = "Gus"
student_age = 16
student_grade = 3.5
student_id = "ABC-000-000"

In [21]:
# [ ] display the current type of the variable student_name
type(student_name)

str

In [22]:
# [ ] display the type of student_age
type(student_age)

int

In [23]:
# [ ] display the type of student_grade
type(student_grade)

float

In [24]:
# [ ] display the type of student_age + student_grade
type(student_age + student_grade)

float

In [25]:
# [ ] display the current type of student_id
type(student_id)

str

In [26]:
# assign new value to student_id 
student_id = "BCD-000-000"

# [ ] display the current of student_id
student_id

'BCD-000-000'

#### number integer addition

- **[ ]** create variables (x, y, z) with integer values

In [27]:
# [ ] create integer variables (x, y, z) and assign them 1-3 digit integers (no decimals - no quotes)
x = 4
y = 15
z = 25

- **[ ]** insert a **code cell** below
- **[ ]** create an integer variable named **xyz_sum** equal to the sum of x, y, and z
- **[ ]** print the value of **xyz_sum**

In [28]:
xyz_sum = x + y + z
print(xyz_sum)

44

### Errors
- **[ ]** troubleshoot and fix the errors below

In [29]:
# [ ] fix the error 

print("Hello World!")

Hello World!

In [30]:
# [ ] fix the error 
print("strings have quotes and variables have names")

strings have quotes and variables have names

In [33]:
# [ ] fix the error 
print( "I have $" + str(5))

I have $5

In [34]:
# [ ] fix the error 
print("always save the notebook")

always save the notebook